@model MVCDEMO20251.Models.Course

@{
    ViewBag.Title = "Desactivar Curso";
}

<h2>Desactivar Curso</h2>

<h3>¿Estás seguro de que deseas desactivar este curso?</h3>
<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

        <dt>
            Estado
        </dt>
        <dd>
            @(Model.IsActive ? "Activo" : "Inactivo")
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desactivar" class="btn btn-warning" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
